#toolbar-item-toolbar-menu-manager + .toolbar-tray .toolbar-icon {
  padding:0.7em 1.1333em;
}

#toolbar-item-toolbar-menu-manager + .toolbar-tray .toolbar-icon::before {
  display: none;
}

#toolbar-item-toolbar-menu-manager + .toolbar-tray .toolbar-icon i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 7px;
}