// Non-modular or client styles for .l-footer region.
#footer-wrapper {
  padding: 4rem 0 0;
  position: relative;
  > .row {
    max-width: 67rem;
  }
  &::after {
    border-left: 3px solid $site-color;
    border-right: 3px solid $site-color;
    border-top: 3px solid $site-color;
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    height:370px;
    top: -97px;
    width: calc(100% - 30px);
    max-width: 67rem;
    @include breakpoint(xmedium down) {
      top: 17px;
      height: 250px;
    }
    @include breakpoint(medium down) {
      height: 401px;
    }
  }
}

#footer {
  @include breakpoint(xmedium) {
    @include flexbox;
  }
  .footer-col {
    @include breakpoint(xmedium) {
      @include grid-col(1 of 3);
      padding-bottom: 0;
    }
    padding-bottom: 1.2rem;
    text-align: center;
    margin: auto;
    z-index: 1;
    .social_media.teaser {
      ul {
        li {
          background: #000000;
          border-radius: 50%;
          display: inline-block;
          height: 35px;
          line-height: 35px;
          margin: 0 5px;
          width: 35px;
          cursor: pointer;
          @include transition(.25s);
          &:hover {
            background: $site-color;
          }
          a {
            display: inline-block;
            .linkicon__icon {
              color: #ffffff;
            }
            .linkicon__text {
              display: none;
            }
          }
        }
      }
    }
  }
}

.contact_details.teaser {
  p {
    margin: 0;
    font-weight: 400;
    a {
      color: #000000;
      @include transition(.25s);
      &:hover {
        color: $site-color;
      }
    }
  }
}

.footer-bottom {
  position: relative;
  z-index: 99;
  margin-top: 25px;
  ul.menu {
    text-align: center;
    li {
      display: inline-block;
      a {
        color: #000;
        font-size: 14px;
        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }
  }
  @include breakpoint(xmedium) {
    margin-top: 45px;
  }
}

.field-node--field-page-header-menu{
  z-index: 98;
  width: 100vw;

      margin-bottom: 50px;
      position: relative;
        @include breakpoint(xmedium) {
          margin-bottom: 0px;
          display: flex;
        }
  .field-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
          transition: 0.3s ease;
    @include breakpoint(xmedium){
      margin: 0 auto;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .field-item{
      margin: 5px;
      width: 40%;
      max-width: 175px;
      transition: 0.3s ease;
      position: relative;
      overflow: visible;
      z-index: 2;
      background-size: 0 0;
         @include breakpoint(xmedium) {
           
           max-width: 33vw;
           width: 33vw;
           margin: 0;
           padding: 7vw;
           border: solid 1px white;
           background-size: cover;
               display: flex;
               flex-direction: column;
               justify-content: center;
           

         }
      a{
      display: block;
      color: white;
      border-color: $primary-color!important;
      border:solid 2px;
      padding: 4px 15px;
      width: 145px;
          margin: 0 auto;
      text-align: center;
      transition: 0.3s ease;
      text-transform: uppercase;
      z-index: 5;
     
        @include breakpoint(xmedium) {
           background-color: rgba(0, 0, 0, 0.5);
        }
    }
      a:hover{
        
      }
    }
    .field-item::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index:-1;
              transition: 0.3s ease;
    }
    .field-item:hover{
      &::before{
        opacity: 0.6;
      }
      background-color: $primary-color;
      a{
        background-color: white;
        color: $primary-color;
        z-index: 3;
      }
    }
    .organization{
       
    }
    .sell{
           @include breakpoint(xmedium) {
             max-width: 34vw;
             width: 34vw;
             margin: 0;
             padding: 7vw;
             border: solid 1px white;
           }
    }
    .catering{

    }
  }

}
  .button-wrapper {
    .button{
      font-size: 2rem;
          padding: .25em 0.4em;
          border-radius: 50px;
          letter-spacing: 1px;
    }
    .button::after{
      display: none;
    }
    @include breakpoint(xmedium) {
       
    }
  }

.field-name-field-video{
    width: 100%;
    max-width: 1198px;
    margin: 0 auto;
    padding: 14px;
}
.video-embed-field-responsive-video {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 14px;
}
#toggle_menu{
  position: fixed;
@include breakpoint(xxlargemed){
  margin-left: -50px;
}
  span.icon-bar{
        background: $primary-color;
  }
}

/* position: absolute;
top: 6px;

@include breakpoint(xmedium) {
  top: 100px;
  max-width: 100%;
  min-width: 100px;
  left: 71%;
  right: 19%;
}

right: 5%;
max-width: 101px;
z-index: 1000;
max-width: 105px;
border-bottom: solid 1px $primary-color;

p {
  margin: 0;
} */
#block-webshopmenu{
  display: none;
  @include breakpoint(xmedium){
    display: block;
  }
  position:absolute;
      left: 81%;
      margin-left: -81px;
      top: 62%;
  .menu{
    margin: 0 auto;
    li{
      width: 100%;
      display: block!important;
      border-bottom: solid 1px $primary-color;
      a{
        font-size: 22px;
      }
    }
  }
}