// Non-modular or client styles for .l-header region.
#header-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

  @include breakpoint(xmedium) {
    position: relative;
    background: transparent;
    box-shadow: none;
  }
}

#header {
  text-align: center;

  @include breakpoint(xmedium) {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }

  nav#block-verhuur {
    display: none;
    @include breakpoint(xmedium) {
      max-width: 80%;
      display: block;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.8);

      ul.menu {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        li {
          a {
            text-transform: lowercase;
            color: $white;
            font-size: 15px;

            &:hover {
              color: $primary-color;
            }
          }

        }
        li:first-of-type {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
  .block-base-branding{
    display: none;
    @include breakpoint(xmedium){
      display: block;
    }
  }
}

body.fixed-header-now {
  #header {
    nav#block-verhuur {
      ul.menu {
        padding-top: 15px;
        li{
          /**
          display: none;
          &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12), &:nth-of-type(17), &:nth-of-type(14), &:nth-of-type(16),{
            display: block;
          }

           */
        }
      }
    }
  }
  .block-base-branding{
    display: none!important;
  }
}

/* hamburger-icon-start */
#toggle_menu {
  z-index: 3;
  width: 35px;
  height: 40px;
  position: absolute;
  top: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @include breakpoint(xmedium) {
    top: 100px;
  }
  @include breakpoint(xlarge) {
    top: 100px;
  }

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: #000000;
    @include breakpoint(xmedium) {
      background: #ffffff;
    }

    &:nth-child(even) {
      left: 50%;
      // border-radius: 0 9px 9px 0;
    }

    &:nth-child(odd) {
      left: 0px;
      // border-radius: 9px 0 0 9px;
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0px;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 12px;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 24px;
    }
  }
}

#toggle_menu.menu-close {
  span {
    background: $white;

    &:nth-child(1), &:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:nth-child(2), &:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:nth-child(1) {
      left: 4px;
      top: 10px;
    }

    &:nth-child(2) {
      left: calc(50% - 4px);
      top: 10px;
    }

    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    &:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &:nth-child(5) {
      left: 4px;
      top: 20px;
    }

    &:nth-child(6) {
      left: calc(50% - 4px);
      top: 20px;
    }
  }
}

/* hamburger-icon-end */
.menu-outer {
  // height: 0;
  position: absolute;
  left: 0;
  width: 100%;

  .row {
    padding: 0 15px;
  }
}

.menu-wrapper {
  background: rgba(#000000, .9);
  @include flexbox;
  overflow: auto;
  position: fixed;
  transform: scale(0);
  @include transition(0.32s);
  transform-origin: left top;
  z-index: 2;
  height: 100%;
  left: 0;
  right: 0;
  width: 100%;

  .menu.dropdown {
    margin: auto;

    li {
      display: block;

      a {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 14px;
        text-transform: uppercase;
        @include transition(.25s);

        &:hover, &.is-active {
          color: $site-color;
        }
      }
    }
  }
}

#header.menu-is-open {
  .menu-outer {
    z-index: 9;
    position: fixed;
  }

  .menu-wrapper {
    transform: scale(1);
  }
}

/* ************************* */


/* block-base-branding-start */
#block-base-branding {
  padding: 10px 0 0;
  z-index: 1;
  overflow: visible;
  padding-top: 60px;
  @include breakpoint(xmedium) {
    padding: 80px 0 0;
  }
  @include breakpoint(xlarge) {
    padding: 90px 0 0;
  }

  svg {
    @include breakpoint(large) {
      width: 320px;
      height: 130Px;
    }
  }
}

/* block-base-branding-end */

#header-wrapper {
  z-index: 101;
  #header-wrapper {
    display: block;
    position: fixed;
    background-color: black;
    width: 100%;
    top: -400px;
    opacity: 0;
    transition: 0.3s ease;
    background-image: linear-gradient(180deg, #020314 45%, rgba(12, 14, 36, 0.00) 100%);
    border-bottom: solid 5px $primary-color;

    header {
      padding: 10px;
    }
  }
}

.fixed-header-now {
  #header-wrapper {
    #header-wrapper {
      display: none;
      opacity: 1;
      top: 0;
      left: 0;

      .block-base-branding {
        a {
          svg {
            display: none;
          }
        }
      }

      @include breakpoint(xmedium) {
        display: block;
      }
    }
  }
}


.block-navtoggle {
  button {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 25px;

    @include breakpoint(xmedium) {
      display: none;
    }
  }
  .open-nav{
    display: none;
  }
  .closed-nav{
    display: block;
    margin: 0 auto;
    width: 20px;
  }
}
.block-navtoggle{
  button[aria-expanded="true"]{
    .open-nav{
      display: block;
      margin: 0 auto;
      width: 20px;
    }
    .closed-nav{
      display: none;
    }
  }
}

.region-sidebar-second{
  .block-brandingvandewebsite{
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
    svg{
      path:last-of-type{
        fill:#c8d423!important;
      }
    }
  }

    ul.menu{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 20px;
      li:first-of-type {
        a {
          color: $primary-color;
        }
      }

      a{
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0.7px;
        line-height: 16px;
        transition: 0.3s ease;
        text-align: center;
        &:hover{
          color: $primary-color;
        }
      }

  }
}
.block-base-branding{
  svg{
    path:nth-of-type(2),path:nth-of-type(3){
      display: none;
    }
  }
}


.anchor_totals{
  display: none!important;
}