// Non-modular or client styles for the .l-content region.
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
body, h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px;
}

					/* home-page-start */
.node--type-home-page {
	.items.items-columns {
		padding: 0;
	}
	#main {
		padding: 3rem 0;
		@include breakpoint(xmedium) {
			padding-top: 5rem;
		}
		@include breakpoint(large) {
			padding-top: 7rem;
		}
		@include breakpoint(xlarge) {
			padding: 9rem 0 8rem;
		}
		&::after {
		  clear: both;
		  content: "";
		  display: block;
		}
	}
}
#main {
	padding: 3rem 0;
	@include breakpoint(xmedium) {
		padding: 5rem 0;
	}
	@include breakpoint(large) {
		padding: 6rem 0 7rem;
	}
	@include breakpoint(xlarge) {
		padding: 8rem 0 9rem;
	}
	&::after {
	  clear: both;
	  content: "";
	  display: block;
	}
}
.home_page.full {
	> .items {
		> .item {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			@include breakpoint(xmedium) {
				@include grid-col(1 of 2);
			}
			h3 {
			  margin: auto auto 52px;
			  max-width: 430px;
			  padding-bottom: 52px;
			  text-align: right;
			  position: relative;
			  font-weight: 300;
			  letter-spacing: 3px;
			@include breakpoint(xmedium down) {
				font-size: 1.3rem;
			}
			  &::after {
				  background: $site-color;
				  bottom: 0;
				  content: "";
				  display: block;
				  height: 5px;
				  position: absolute;
				  right: 0;
				  width: 85px;
				}
			}
			p {
				font-weight: 300;
			}
			.paragraph--type--testimonial {
				.field-paragraph--field-text {
					p {
						font-weight: 300;
						font-family: $header-font-family;
						@include breakpoint(xmedium) {
							max-width: 530px;
						}
						@include breakpoint(xmedium down) {
							font-size: 1rem;
						}
					}
				}
				.field-paragraph--field-label {
					.field-item {
						position: relative;
						padding-left: 20px;
						font-weight: 300;
						font-family: $header-font-family;
						@include breakpoint(xmedium down) {
							font-size: 1rem;
						}
						&::after {
						  content: "-";
						  left: 0;
						  position: absolute;
						}
					}
				}
			}
			figure {
			  margin: 52px 0;
			}
			.field-node--field-testimonials {
				.owl-carousel {
					.owl-stage-outer {
						.owl-item {
							padding: 0 50px;
						}
					}
					.owl-nav {
						.owl-prev {
						  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll right center;
						  color: rgba(0, 0, 0, 0);
						  height: 40px;
						  left: 0;
						  margin: 0;
						  position: absolute;
						  top: 80px;
		 				  @include rotate(180deg);
						  width: 35px;
						}
						.owl-next {
						  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll left center;
						  color: rgba(0, 0, 0, 0);
						  height: 40px;
						  right: 0;
						  margin: 0;
						  position: absolute;
						  top: 80px;
						  width: 35px;
						}
					}
				}
			}
		}
	}
}

.block-base-content {
	.field-name-field-testimonials {
		.paragraph {
		  font-size: 1.9375rem;
		  font-weight: 400;
		  position: relative;
		  padding-bottom: 52px;
			&::after {
			  background: $site-color;
			  bottom: 0;
			  content: "";
			  display: block;
			  height: 5px;
			  position: absolute;
			  left: 0;
			  width: 85px;
			  @include breakpoint(xmedium down) {
			  	bottom: 33px;
			  }
			}
		}
	}
	.view-mode-full {
	    .field-type-text-with-summary {
			  padding: 0 0.9375rem 1rem;
			  /*max-width: 646px;*/
			  margin: auto;
			  text-align: center;
			  font-weight: 300;
			  letter-spacing: 1.5px;
			  @include breakpoint(xmedium) {
			 		padding-bottom: 2rem;
				 }
				  @include breakpoint(xlarge) {
			 		padding-bottom: 4rem;
				 }
		    .field-item {
						a {
						  background: transparent;
						  border: 2px solid $site-color;
						  color: #000000;
						  display: inline-block;
						  font-weight: 400;
						  letter-spacing: 1px;
						  margin: 15px 0 0;
						  text-transform: uppercase;
						  width: 292px;
						  @include transition(.25s);
						  &:hover {
						  	background: $site-color;
						  }
						}
						&:nth-child(2), &:nth-child(3) {
						  padding: 0;
						}
		    }
	    }
	}
	.items.items-columns {
		article.item {
			margin-top: 2rem;
			@include breakpoint(large) {
				margin-top: 3rem;
			}
			@include breakpoint(xlarge) {
				margin-top: 4rem;
			}
		}
		.field-type-entity-reference {
			.item {
				@include breakpoint(medium down) {
					width: 100%;
				}
				&:nth-child(1) {
					margin-top: 0;
				}
				&:nth-child(1), &:nth-child(2) {
					@include breakpoint(xmedium) {
						margin-top: 0;
					}
				}
				&:nth-child(2n+1)::after {
				  left: auto;
				  right: 0;
				  transform: none;
				}
				&:nth-child(2n)::after {
				  left: 0;
				  right: auto;
				  transform: none;
				}
				> div {
					h2 {
					margin-top: 1.5rem;
					@include breakpoint(xmedium) {
						  margin-top: 0;
						}
					}
				}
			}
		}
	}
	.items.items-rows {
		.field-type-entity-reference {
			.item {
				&:nth-child(2n+1) > div {
					@include breakpoint(large) {
					padding-left: 30px!important;
					}
				}
			}
		}
	}
	.field-type-entity-reference {
		.item {
			position: relative;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			@include breakpoint(xmedium down) {
				margin-top: 2rem!important;
			}
			&::after {
			  background: #c6d223 none repeat scroll 0 0;
			  content: "";
			  display: block;
			  height: 5px;
			  left: 0;
			  margin: auto;
			  position: absolute;
			  right: 0;
			  top: 1.5rem;
			  @include translatex(10%);
			  width: calc(40%);
			  @include breakpoint(medium down) {
				  bottom: 0;
				  margin: 0 15px;
				  top: auto;
				  transform: none;
				  width: auto;
			  }
			  @include breakpoint(xlarge) {
			  	top: 3rem;
			  }
			}
			> div {
				@include breakpoint(medium down) {
				   	padding: 0!important;
				}
				h2 {
				  display: inline-block;
				  font-size: 2.2rem;
				  font-weight: 600;
				  letter-spacing: 3px;
				  line-height: 1;
				  margin-bottom: .3rem;
				  margin-top: 1.5rem;
				  padding-top: 1.5rem;
				  text-transform: uppercase;
				@include breakpoint(medium down) {
				  padding-top: 0rem;
					font-size: 1.5rem;
				}
				  @include breakpoint(xmedium) {
				  	margin-bottom: 1rem;
				  	margin-top: 2rem;
				    padding-top: 2rem;
				  }
				  @include breakpoint(xlarge) {
				  	margin-bottom: 1.4rem;
				  	margin-top: 3rem;
				    padding-top: 3rem;
				   }
				}
				.field-type-text-with-summary {
					p {
						font-weight: 300;
					}
				}
			}
			&:nth-child(2n) {
				> div {
					padding: 0 15px 0 0!important;
				}
			}
			figure {
			  padding: 0!important;
			  	img {
			  		width: 100%;
			  	}
			}
		}
	}
}
.realisations {
  clear: both;
	padding-top: 30px;
	@include breakpoint(medium){
		padding-top: 50px;
	}
  h2 {
		text-transform: uppercase;
		color: #000000;
		text-align: center;
		font-weight: 600;
		padding-bottom: 52px;
		margin-bottom: 52px;
		position: relative;
		letter-spacing: 5px;
		font-size: 2rem;
		@include breakpoint(medium down) {
			font-size: 1.5rem;
		}
    &::after {
	  background: $site-color;
	  bottom: 0;
	  content: "";
	  display: block;
	  height: 5px;
	  position: absolute;
	  left: 0;
	  right: 0;
	  margin: auto;
	  width: 85px;
	}
  }
  .field-paragraph--field-image {
  	padding-left: 0.9375rem;
  	padding-right: 0.9375rem;
  }
  .field-name-field-realisations {
  	.field-name-field-label {
	  margin-top: -39px;
	  position: relative;
	  @include breakpoint(medium down) {
	  	padding: 0 15px;
	  }
	  .field-items {
		  background: rgb(48, 48, 48) none repeat scroll 0 0;
		  text-align: center;
		  text-transform: uppercase;
		  font-weight: 400;
	  	  max-width: 360px;
	      padding: 28px;
		  color: rgb(255, 255, 255);
		  font-size: 0.9rem;
		  margin-left: auto;
	  	  margin-right: 90px;
			@include breakpoint(medium down) {
				margin: auto;
			}
	  }
	}
	.owl-carousel {
		position: relative;
		.owl-nav {
			.owl-prev {
			  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll center center;
			  color: rgba(0, 0, 0, 0);
			  height: 40px;
			  left: 25px;
			  margin: 0;
			  position: absolute;
			  top: 50%;
			-webkit-transform: translateY(-50%) rotate(180deg);
			-moz-transform:    translateY(-50%) rotate(180deg);
			-ms-transform:     translateY(-50%) rotate(180deg);
			-o-transform:      translateY(-50%) rotate(180deg);
			transform:         translateY(-50%) rotate(180deg);
			  width: 35px;
			}
			.owl-next {
			  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll center center;
			  color: rgba(0, 0, 0, 0);
			  height: 40px;
			  right: 25px;
			  margin: 0;
			  position: absolute;
			  top: 50%;
			  @include translatey(-50%);
			  width: 35px;
			}
		}
	}
  }
}
	/*--------------------------- home-page-end */





	/*------------------------ over-ons-start */
.block-base-content::after {
  clear: both;
  content: "";
  display: block;
}

.basic_page {
	.item-row {
		position: relative;
		@include flexbox;
		padding: 0 0.9375rem;
		@include breakpoint(medium down) {
			margin-bottom: 3rem;
		}
		&::after {
		  background: $site-color;
		  content: "";
		  display: block;
		  height: 3px;
		  left: 0;
		  margin: auto;
		  position: absolute;
		  right: 0;
		  top: 52px;
		  width: 520px;
			@include breakpoint(medium down) {
				bottom: -22px;
				margin: 0 15px;
				top: auto;
				width: auto;
			}
		}
		&:last-child figure {
		  background-size: cover;
		  display: block;
		  height: 615px;
		  overflow: hidden;
		  padding: 25%;
		  width: 50%;
		  	@include breakpoint(medium down) {
		  		height: 340px;
				  width: 100%;
		  	}
		}
		.text-wrapper {
			> div {
				margin-top: 3rem;
				padding-top: 3rem;
			  	@include breakpoint(medium down) {
			  	 	margin-top: 0;
			  	 	padding-top: 1.5rem;
			  	}
				p {
					font-weight: 400;
				}
			}
			.text-wrapper-inner > p {
			  padding-right: 3rem;
			  	@include breakpoint(medium down) {
			  		padding-right: 0;
			  	}
			}
			.field-node--field-paragraphs {
			  padding-left: 3rem;
			  	@include breakpoint(medium down) {
			  		padding-left: 0;
			  	}

			  h3 {
			  	font-size: 1rem;
			  	color: $site-color;
			  	font-weight: 600;
			  }
			}
			h2 {
			  font-size: 2.2rem;
			  font-weight: 600;
			  margin-bottom: 25px;
			  text-transform: uppercase;
			  color: #000000;
			  letter-spacing: 3px;
			  	@include breakpoint(medium down) {
			  		font-size: 1.5rem;
			  		margin-bottom: 10px;
			  	}
			}
		}
		.text-wrapper, figure {
			width: 100%;
			img {
				width: 100%;
			}
			@include breakpoint(xmedium) {
				@include grid-col(1 of 2, 0);
			}
		}
	}
}
					/* over-ons-end */

					/* blog-start */
#block-views-block-articles-teaser {
	.item-list {
		ul {
			margin: 0;
			list-style: none;
			li {
				margin-bottom: 3rem;
				@include breakpoint(small down) {
					margin-bottom: 4rem;
				}
				.article.teaser {
					@include flexbox;
					position: relative;
					&::after {
					  background: $site-color;
					  content: "";
					  display: block;
					  height: 3px;
					  left: 20%;
					  position: absolute;
					  top: 3rem;
					  width: 335px;
						@include breakpoint(xmedium down) {
							top: 1.5rem;
						}
						@include breakpoint(small down) {
						  bottom: -20px;
						  left: 15px;
						  right: 15px;
						  top: auto;
						  width: auto;
						}
					}
					figure {
						@include grid-col;
						@include breakpoint(medium) {
							@include grid-col(1 of 3);
						}
						a {
							display: inline-block;
							position: relative;
							@include transition(.43s);
							overflow: hidden;
							&::after {
							  background: rgba($site-color, 0);
							  content: "";
							  height: 100%;
							  left: 0;
							  position: absolute;
							  top: 0;
							  width: 100%;
								@include transition(.25s);
							}
							&:hover {
								&::after {
							  	background: rgba($site-color, .2);
								}
								img {
									transform: scale(1.1);
								}
							}
						}
						img {
							width: 100%;
							@include transition(.43s);
						}
					}
					> div {
							@include grid-col;
						@include breakpoint(medium) {
							@include grid-col(2 of 3);
						  padding-left: 2rem;
						}
						.article-info {
						  padding-top: 5rem;
						  font-weight: 600;
						  color: $site-color;
						  letter-spacing: 3px;
							@include breakpoint(xmedium down) {
								padding-top: 3rem;
							}
							@include breakpoint(small down) {
								padding-top: 1rem;
							}
						}
						.node-title {
							font-size: 2rem;
							@include breakpoint(xmedium down) {
								font-size: 1.5rem;
								margin: 0;
							}
							@include breakpoint(medium down) {
								font-size: 1.2rem;
							}
							a {
							  color: #000000;
							  font-weight: 600;
							  display: inline-block;
							  text-transform: uppercase;
						    @include transition(.25s);
							  &:hover {
							  	color: $site-color;
							  }
							}
						}
						.field-node--field-date {
							.field-item {
								> time {
								  display: block;
								  margin-top: 20px;
								  @include breakpoint(xmedium down) {
								  	margin-top: 5px;
								  }
								}
							}
						}
						.button {
						  background: transparent;
						  border: 2px solid $site-color;
						  color: #000000;
						  display: inline-block;
						  font-family: $body-font-family;
						  font-weight: 400;
						  letter-spacing: 1px;
						  margin: 35px 0 0;
						  padding: 0.6rem 2rem;
						  text-transform: uppercase;
						  @include breakpoint(xmedium down) {
						  	margin: 15px 0 0;
						  }
						  &:hover {
						  	background: $site-color;
						  }
						}
					}
				}
			}
		}
	}
}



/* pagination-start */
.pager {
  padding-top: 80px;
  text-align: center;
	@include breakpoint(xmedium down) {
		padding-top: 20px;
	}
  .pagination {
    margin: auto;
    display: inline-block;
      li {
        border: 2px solid $site-color;
        height: 40px;
        width: 40px!important;
        margin: 0 8px;
        padding: 0;
        text-align: center;
        display: inline-block;
        list-style: none;
        @include transition(.25s);
        &.current, &:hover {
          border-color: $site-color;
          background: $site-color;
          a {
			color: $white;
          }
        }
        &.current {
        	a {
        		color: $white;
        	}
        }
        a {
          color: $site-color;
          height: 100%;
          line-height: 40px;
          padding: 0;
          width: 100%;
          font-weight: 600;
          font-size: 1rem;
					@include transition(.25s);
          &:hover, &:focus {
            background: transparent!important;
          }
        }
      }
      .pager__item.pager__item--previous, .pager__item.pager__item--next {
          border: none;
          width: auto!important;
	        &:hover {
	        	background: transparent;
	        }
			a {
				color: $site-color;
			}
      }
      .pager__item.pager__item--next {
        text-align: left!important;
        a {
			span {
			  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll left center;
			  color: rgba(0, 0, 0, 0);
			  display: inline-block;
			  height: 40px;
			}
        }
      }
      .pager__item.pager__item--previous {
        text-align: right!important;
        a {
			span {
			  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll left center;
			  color: rgba(0, 0, 0, 0);
			  display: inline-block;
			  height: 40px;
		 	  @include rotate(180deg);
			}
        }
      }
      .pager__item.pager__item--first, .pager__item.pager__item--last {
        display: none;
      }
  }
}
/* pagination-end */
					/* blog-end */



					/* purus-quam-start */

.breadcrumbs {
	margin: 0 0 2rem;
	padding: 0 0.9375rem;
	li {
	  letter-spacing: 2px;
	  text-transform: lowercase;
	  a {
		  font-size: 1rem;
		  font-weight: 300;
	  	text-decoration: none;
	  	text-transform: none;
	  	color: $site-color;
	  	letter-spacing: 3px;
			@include transition(.25s);
	  	&:hover {
	  		color: #000000;
	  		text-decoration: none;
	  	}
	  }
	}
}
.block-base-content {
	.article.full {
		padding: 0 0.9375rem;
		.article-wrapper {
			@include flexbox;
			> div {
			    // @include grid-col(1 of 2, 0);
			}
			.article {
			    @include breakpoint(xmedium) {
				border-right: 2px solid $site-color;
				padding-right: 4rem;
					width: calc(100% - 350px);
			    }
				.article-info {
					color: $site-color;
					font-weight: 600;
					letter-spacing: 3px;
				}
				.view-mode-full {
					max-width: 970px;
					.field-type-text-with-summary.field-node--body {
					  font-weight: 300;
					  letter-spacing: 1px;
					  margin-bottom: 1rem;
					  max-width: 100%;
					  padding: 0;
					  text-align: left;
					}
				}
				.button {
		 		  background-color: transparent;
				  border: 2px solid $site-color;
				  color: #000000;
				  display: inline-block;
				  font-weight: 400;
				  letter-spacing: 1px;
				  padding: 10px 40px 10px 65px;
				  text-transform: uppercase;
				  font-family: $body-font-family;
				  position: relative;
				  margin: 0.5rem 0 2rem;
			    @include breakpoint(xmedium) {
				  margin: 4rem 0;
				  }
			    @include breakpoint(small down) {
			    	padding: 10px 20px 10px 55px;
			    }
				&::after {
				  background-image: url("../images/triangle.min.svg");
				  background-repeat: no-repeat;
				  background-size: 8px auto;
				  content: "";
				  display: block;
				  height: 12px;
				  left: 45px;
				  position: absolute;
				  top: 50%;
				  -webkit-transform: translateY(-50%) rotate(180deg);
				  -moz-transform:    translateY(-50%) rotate(180deg);
				  -ms-transform:     translateY(-50%) rotate(180deg);
				  -o-transform:      translateY(-50%) rotate(180deg);
				  transform:         translateY(-50%) rotate(180deg);
				  width: 12px;
				  z-index: 2;
				    @include breakpoint(small down) {
				    	left: 26px;
				    }
				}
				  &:hover {
				  	background-color: $site-color;
					  &::after {
						background-image: url("../images/triangle2.min.svg");
						background-repeat: no-repeat;
						background-size: 8px auto;
					  }
				  }
				}
			}
			.article-share-related {
			    @include breakpoint(xmedium) {
					padding-left: 3rem;
					max-width: 350px;
					padding-top: 2.6rem;
				}
				h3 {
					text-transform: uppercase;
					color: #000000;
					font-weight: 600;
					letter-spacing: 3px;
					font-size: 1.2rem;
					margin-bottom: 30px;
				}
				ul {
					margin-bottom: 30px;
					margin-left: 0;
					list-style: none;
					li {
						padding-left: 20px;
						position: relative;
						line-height: 1.3;
						margin-bottom: .8rem;
						&::after {
						  content: "";
						  background: rgba(0, 0, 0, 0) url("../images/triangle.min.svg") no-repeat scroll left center / 9px auto;
						  position: absolute;
						  left: 0;
						  height: 20px;
						  width: 20px;
						  top: 2px;
						}
						a {
							color: #000000;
							font-weight: 400;
						  @include transition(.25s);
							&:hover {
								color: $site-color;
							}
						}
					}
				}
			}
			.article-share {
				span {
					a {
					    background: #000000;
						border-radius: 50%;
						display: inline-block;
						height: 35px;
						line-height: 35px;
						margin: 0 5px;
						width: 35px;
						cursor: pointer;
						color: $white;
						font-size: 18px;
						text-align: center;
						@include transition(.25s);
						&:hover {
							background: $site-color;
						}
					}
				}
			}
		}
		figure {
		  padding-top: 3rem;
		  overflow: hidden;
	   	  @include breakpoint(large) {
		  	padding-top: 7rem;
		    height: 697px;
	      }
		}
	}
}
					/* purus-quam-end */


/* ****************************user-login*start************************** */
.path-user {
  .page-header {
    .field-content {
      height: 215px;
      overflow: hidden;
      position: relative;
	  &::after {
	    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	    content: "";
	    display: block;
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	  }
      @include breakpoint(xmedium) {
        height: 520px;
      }
    }
  }
  #block-base-content {
    margin: auto;
    max-width: 545px;
  }
  #footer-wrapper::after {
	  top: 20px;
  }
  #main {
	  padding: 3rem 0;
   }
  #block-base-branding {
    display: none;
  }
}
.path-user {
  #block-base-local-tasks {
    padding: 20px 15px 0;
    background-color: #FAFAFA;
    margin: auto;
    max-width: 545px;
    .button-group {
      margin: 0;
      a {
        color: #000000;
        background: transparent;
        border: 1px solid #000000;
				@include transition(.25s);
        @include breakpoint(medium only) {
          display: block;
          margin: 15px auto 1px;
          width: 208px;
        }
        &.active {
          background: $site-color;
          color: #000000;
        }
        &:hover {
          background: #ffffff;
        }
      }
    }
  }
  #user-login-form, #user-pass {
    padding: 20px 15px;
    background-color: #fafafa;
    margin: auto;
    max-width: 545px;
    margin-top: 75px;
    .description, p {
      color: #000000;
      margin-bottom: 10px;
    }
    .form-item {
      label {
      // letter-spacing: 5px;
      }
      input {
      box-shadow: none;
      }
    }
    .button {
        border: 1px solid $site-color;
        background: $site-color;
        color: #000000;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
        padding: 12px;
        text-transform: uppercase;
        &:hover {
          background: #ffffff;
        }
     }
    .form-control {
      border: 1px solid #ebebeb;
      border-radius: 0;
      box-shadow: none;
    }
  }
}


.field-node--field-referenties{
	padding-left: 20px;
	padding-right: 20px;
	.field-items{

		margin-top: 50px;


		.item{
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			margin-top: 10px;
			.paragraph--type--references{
				a{
					.field-paragraph--field-partner-logo{
						.field-items{
							.field-item{
								img{
													 -webkit-filter: grayscale(100%);
													 /* Safari 6.0 - 9.0 */
													 filter: grayscale(100%);
									 	     margin: 0 auto;
													display:block;
													height: 100px;
													width: auto;
													transition: 0.3s ease;
								}
								img:hover{
											 -webkit-filter: grayscale(0%);
											 /* Safari 6.0 - 9.0 */
											 filter: grayscale(0%);
								}
							}
						}
					}
				}
			}
		}
	}
}


#mc_embed_signup{
	margin-top: 5px;
		@include breakpoint(xmedium) {
			margin-left: 5px;

		}
	form{
		padding: 0px!important;
		#mc_embed_signup_scroll{
			label{
				font-size: 14px;
				font-weight: 100;
				font-family:$body-font-family;
				text-align: center;
			}
			input.email{
				border-radius: 0px;
				border: solid 2px $primary-color;

				text-align: center;
				width: 200px;
				margin: 0 auto;
				margin-bottom: 15px;
				@include breakpoint(xmedium){
					width: 100%;

			}
		}
			.clear{
				input.button{
					    color: black !important;
					    border-color: $primary-color !important;
					    border: solid 2px;
					    padding: 4px 15px;
					    text-align: center;
					    transition: 0.3s ease;
							text-transform: lowercase;
							    line-height: 0px;
							    width: 100%;
									border-radius: 0px;
									background-color: transparent;
									width: 150px;
									margin: 0 auto;
									transition: 0.3s ease;
				}
				input.button:hover{
					background-color: $primary-color;
					color: white!important;
				}
			}
		}
	}
}

path.titelgreen{
	fill: #c6d223!important;
	@include breakpoint(xmedium){
		fill: #FFFFFF!important;
	}
}
/* ****************************user-login-form*end************************** */
