ul.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &>li {
    .linkicon__text {
      color: transparent;
      font-size: 0;
      height: 0;
    }
  }
}


/* header-start */
.page_header {
  background-size: cover;
  position: relative;

  &::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.home_page.page_header {
  min-height: calc(100vh - 45px);
  background-position: center center;
  @include flexbox;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpoint(medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include breakpoint(xmedium) {
    min-height: 100vh;
    padding-bottom: 0px;
  }

  .page-header-item {
    color: $white;
    left: 15px;
    position: static;
    right: 15px;
    text-align: center;
    z-index: 1;
    margin: auto;

    @include breakpoint(xmedium) {
      padding-top: 100px;
    }

    &::after {
      display: none;
    }

    h1 {
      padding-bottom: 20px;
      padding-top: 90px;
      margin-bottom: 20px;
      position: relative;
      font-weight: 600;
      padding-left: .625rem;
      padding-right: .625rem;
      text-transform: uppercase;

      @include breakpoint(340px) {
        padding-bottom: 30px;
        margin-bottom: 30px;
      }

      @include breakpoint(medium) {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      &::after {
        background: $site-color;
        bottom: 0;
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 163px;
      }
    }
  }

  .intro {
    margin: auto;
    max-width: 550px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    font-weight: 300;

    @include breakpoint(xmedium) {
      padding-bottom: 0;
      line-height: 2;
    }
  }
}

.button-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 120px;

  @include breakpoint(xmedium) {
    right: 0;
    left: 0;
    top: -25px;
  }

  z-index: 2;
  text-align: center;
}

#scroll-down {
  color: $white;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 45px;
  @include transition(.32s);

  &:hover {
    color: $white;

    &::after {
      background: $site-color;
    }
  }
}

/* header-end */

/* aanbod-start */
.page_header {
  height: 310px;

  @include breakpoint(xmedium) {
    height: 520px;
  }

  .page-header-item {
    bottom: 0;
    color: $white;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    position: absolute;

    &::after {
      background: $site-color;
      content: "";
      display: block;
      height: 5px;
      margin: 50px auto auto;
      width: 170px;
    }

    h1 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
    }
  }
}

/* aanbod-end */
.header-contact {
  position: absolute;
  top: 0px;

  z-index: 102;
  height: 40px;
  width: 100%;

  @include breakpoint(xmedium) {
    max-width: 1400px;

 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
  }


  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    background-color: $primary-color;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 0px;
      height: 40px;
    margin-bottom: 0px;
    max-width: 320px;
    margin: 0 auto;
    @include breakpoint(xmedium){
       max-width: 380px;
           margin: 0 auto;
           //margin-left: auto;
           //margin-right: 15px;
    }
        @include breakpoint(xxlarge) {
          //margin-right: 0;
        }
    li {
      padding-top: 10px;

      @include breakpoint(mediumplus) {
        padding-top: 6px;
      }

      a {
        color: white;
        font-size: 13px;
        font-weight: bold;
        transition: 0.3S ease;
        &:hover{
          color: black;
        }
      }

      a.header-whatsapp {

        display: block;

        img {
          width: 25px;
          -webkit-filter: invert(100%);
          height: 25px;
          transition: 0.3s ease;
           &:hover {
             -webkit-filter: invert(0%);
           }
        }
      }
    }

    li:first-of-type {
      position: relative;

      &::after {
        content: '|';
        padding-left: 13px;
        position: absolute;
        color: white;
        padding-top: 2px;
        @include breakpoint(xmedium){
          padding-left: 22px;
        }
      }
    }
  }
}
.js-off-canvas-overlay.is-overlay-fixed{
  display: none;
}
