// @file
// Place your mixins here. Feel free to roll your own mixins.

// sass-placeholder-start
@mixin placeholder ($color, $opacity) {
   &::-moz-placeholder {
            color: $color;
            opacity: $opacity;
          }
          &::-webkit-input-placeholder {
            opacity: $opacity;
            color: $color;
          }
          &:-ms-input-placeholder  {
            opacity: $opacity;
            color: $color;
          }
          &::-ms-input-placeholder  {
            opacity: $opacity;
            color: $color;
          }
          &:focus {
            &::-moz-placeholder {
            opacity: 1;
          }
          &::-webkit-input-placeholder {
            opacity: 1;
          }
          &:-ms-input-placeholder  {
            opacity: 1;
          }
          &::-ms-input-placeholder  {
            opacity: 1;
          }
        }
}
#webform-submission-contact-node-11-add-form .form-item {
input, select, textarea {
  @include  placeholder(#000000, 1);
  text-transform: uppercase;
  font-weight: 600;
  font-family: $header-font-family;
  font-size: 1rem;
  letter-spacing: 3px;
  }
}
// sass-placeholder-end
 @mixin all-clear {
 &::after, &::before {
 content: " ";
 display: table;
 }
 &::after {
  clear: both;
 }
}


// flex-mixin-start
@mixin flexbox {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@mixin flexbox-vertical {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
}
@mixin flexbox-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; 
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@mixin skew($s1, $s2) {
	-ms-transform: skew($s1,$s2);
	-webkit-transform: skew($s1,$s2);
	-moz-transform: skew($s1, $s2);
	-o-transform: skew($s1, $s2); 
  transform: skew($s1,$s2);
}
@mixin scale($m) {
  -webkit-transform: scale($m);
  -moz-transform:    scale($m);
  -ms-transform:     scale($m);
  -o-transform:      scale($m);
  transform:         scale($m);
  }
@mixin translatex($y) {
  -webkit-transform: translateX($y);
  -moz-transform:    translateX($y);
  -ms-transform:     translateX($y);
  -o-transform:      translateX($y);
  transform:         translateX($y);
  }
@mixin translatey($x) {
  -webkit-transform: translateY($x);
  -moz-transform:    translateY($x);
  -ms-transform:     translateY($x);
  -o-transform:      translateY($x);
  transform:         translateY($x);
  }
  @mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform:    rotate($angle);
  -ms-transform:     rotate($angle);
  -o-transform:      rotate($angle);
  transform:         rotate($angle);
  }
@mixin transition($t) {
  transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
}
// flex-mixin-end