.call_to_action {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* call_to_action-end */
.call-to-action {
	.call_to_action {
	  background-size: cover;
	  position: relative;
	  &::after {
	  	content: "";
	  	display: block;
	  	height: 100%;
	  	width: 100%;
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	background: rgba(#000000, .6)
	  }
	}
	.cta-content {
	  margin: auto;
	  max-width: 75rem;
	  padding-top: 2.5rem;
		padding-bottom: 3rem;
		@include flexbox;
	  @include grid-col(12, 2rem);
	  @include grid-column-position(center)
		@include breakpoint(xmedium) {
			padding-top: 5rem;
			padding-bottom: 8rem;
		}
		@include breakpoint(large) {
			padding-top: 6rem;
			padding-bottom: 10rem;
		}
	  h2, .view-mode-default {
	    @include breakpoint(xmedium) {
			@include grid-col(1 of 2);
	    }
			color: $white;
			z-index: 1;
	  }
	  .view-mode-default { 
	    @include breakpoint(xmedium) {
	    	margin-right: 0;
	    	margin-left: auto;
	  	}
	  }
	  h2 {
		padding-top: 48px;
		position: relative;
		text-transform: uppercase;
		max-width: 460px;
		font-weight: 400;
		letter-spacing: 3px;
    @include breakpoint(xmedium) {
    	padding-left: 2rem;
    }
		&::after {
			background: $site-color;
			top: 0;
			content: "";
			display: block;
			height: 3px;
			position: absolute;
			left: 0;
			width: 100%;
			box-shadow: -150px 0 0 0 $site-color, -150px 0 0 0 $site-color;
			@include breakpoint(xlarge) {
			box-shadow: -400px 0 0 0 $site-color, -700px 0 0 0 $site-color,-400px 0 0 0 $site-color, -700px 0 0 0 $site-color;
			}
		    @include breakpoint(medium down) {
		    	top: 31px;
		    }
		}
	  }
	  .view-mode-default {
	  	position: relative;
	    @include breakpoint(xmedium) {
	  		padding-top: 53px;
	  		@include flexbox-vertical;
	  	}
	  	.button {
		  background: transparent;
		  border: 2px solid $site-color;
		  font-weight: 400;
		  text-transform: uppercase;
		  margin: auto 0 0;
		  display: block;
		  padding: 0.6rem .5rem;
		  font-family: $header-font-family;
		  max-width: 200px;
			@include transition(.25s);
		  &:hover {
		  	background: $site-color;
		  	color: #000000;
		  }
		}
	  }
	}
}

					/* call_to_action-end */