#map {
  min-height: 280px;
  z-index: 1;
  position: relative;
  @include breakpoint(medium){
    height: 340px;
  }
  @include breakpoint(large){
    height: 540px;
  }
}
.node--type-contact-page {
	#main-wrapper {
		.region.region-content, .contact-map {
			@include breakpoint(large) {
				@include grid-col(1 of 2, 0);
			}
		}
		.region.region-content {
			#block-base-content {
			  max-width: 36.5rem;
			  padding-left: 0.9375rem;
			  padding-right: 0.9375rem;
			  margin: auto auto 3rem;
				@include breakpoint(large) {
				  margin-left: auto;
				  margin-right: 0;
				  padding-right: 6rem;
				}
			}
		}
	}
}

#block-views-block-contact-text-block-block-1 {
	.field-content {
		p {
		  font-weight: 300;
		  letter-spacing: 3px;
		  margin: auto;
		  max-width: 550px;
		  padding-bottom: 2rem;
		  text-align: center;
		}
	}
}
#webform-submission-contact-node-11-add-form {
	.form-item {
		input {
		  border-left: medium none;
		  border-right: 0 none;
		  border-top: medium none;
		  box-shadow: none;
		  border-bottom: 2px solid $site-color;
		  padding-left: 0;
		  padding-bottom: 20px;
		  padding-top: 20px;
		  height: 4rem;
		}
		textarea {
		  box-shadow: none;
		  border: 2px solid $site-color;
		  margin-top: 3rem;
		  padding-left: 20px;
		  padding-top: 20px;
		}
	}
	.form-item-street {
	  float: left;
	  width: calc(100% - 110px);
	  padding-right: 30px;
	}
	.form-item-street-nr {
	  float: right;
	  max-width: 110px;
	}
	.form-item-postal {
	  float: left;
	  width: calc(100% - 243px);
	  padding-right: 30px;
		@include breakpoint(small down) {
			width: calc(100% - 115px);
		}
	}
	.form-item-place {
	  float: right;
	  max-width: 243px;
		@include breakpoint(small down) {
			max-width: 115px;
		}
	}
	#edit-actions {
	  text-align: center;
	}
	.button {
	  font-size: 1rem;
	  background: transparent;
	  border: 2px solid $site-color;
	  color: #000000;
	  display: inline-block;
	  font-weight: 600;
	  letter-spacing: 3px;
	  margin: 3rem 0 0;
	  padding: 15px 30px;
	  text-transform: uppercase;
	  font-family: $header-font-family;
	  &:hover {
	  	background: $site-color;
	  }
	}
}

#main-wrapper {
	.contact_details {
		background: $site-color;
		@include breakpoint(small down) {
			padding: 25px;
		}
		> div {
			@include breakpoint(medium) {
				display: inline-block;
				padding: 50px 25px 25px;
				vertical-align: top;
			}
			@include breakpoint(small down) {
				text-align: center;
			}
			p {
			  margin: 0;
			  color: $white;
			  font-weight: 600;
			  letter-spacing: 2px;
			  a {
			  	color: $white;
			  	text-decoration: none;
					@include transition(.25s);
			  	&:hover {
			  		color: #000000;
			  	}
			  }
			}
		}
		.mini-info {
			padding: 0 0 12px 0;
			@include breakpoint(medium) {
		    	padding: 50px 0 25px 65px;
			}
		}
		.extra-info {
          p {
          	text-transform: uppercase;
          }
		}
	}
}

.captcha {
	margin-top: 30px;
	.g-recaptcha {
		margin-top: 10px;
	}
}