.section-verkoop {
  .form-item-days {
    display: none;
  }
}

.order-item-form {
  @include grid-column-gutter();
  text-transform: uppercase;

  input[type="submit"] {
    background: transparent;
    border: 2px solid $primary-color;
    /*color: #000;*/
    display: inline-block;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Roboto, Arial, sans-serif;
    margin: 0;
    margin-bottom: 15px;
    background: $primary-color;
    color: #fff;

    &:hover,
    &:focus {
      background: $primary-color;
      color: #fff;
    }
  }

  fieldset {
    width: 100%;
  }

  & > fieldset:not(:first-of-type) {
    margin-bottom: 40px;

    & > legend {
      display: block;
      margin-bottom: 15px;

      .fieldset-legend {
        color: $primary-color;
        font-size: 28px;
        font-weight: $global-weight-bold;
      }
    }

    & > .fieldset-wrapper {
      & > fieldset {
        z-index: 90;

        & > legend {
          display: block;
          margin-bottom: 12px;

          .fieldset-legend {
            color: $primary-color;
            font-size: 23px;
            font-weight: $global-weight-bold;
          }
        }
      }
    }
  }

  .order-form-alter {
    text-align: center;
    background: rgba($primary-color, 0.4);

    p {
      padding: 15px;
    }
  }
}

fieldset[id^="edit-totals"] {
  margin-bottom: 40px;

  & > .fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.fixed-now {
  position: fixed;
  top: 125px;
  z-index: 100;
  right: 0;
  left: 0;
  background-color: $white;
}

.form-item-days,
.form-item-total {
  display: flex;
  margin-bottom: 15px;

  label {
    margin-right: 25px;
    font-weight: 700;
  }

  input {
    background: none;
    border: none;
    color: $primary-color;
    box-shadow: none;
    font-weight: 700;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 26px;
    width: 100px;
  }
}

.form-item-days {
  position: relative;
  margin-right: 40px;

  input {
    margin: 0;
    padding: 0 7px;
    text-align: right;
    box-shadow: none;
    height: 28px;
    width: 55px;
    float: left;
    border: none;
    font-weight: $global-weight-bold;
    color: #000;
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    border-right: 1px solid $primary-color;
    margin-right: 20px;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .qty-button {
    position: absolute;
    display: block;
    float: right;
    width: 21px;
    height: 14px;
    background: #fff;
    cursor: pointer;
    color: $primary-color;
    text-align: center;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;

    &.inc {
      border-bottom: 1px solid $primary-color;
      border-top: 2px solid $primary-color;
      line-height: 13px;
      top: 0;
      right: 0;
    }

    &.dec {
      border-top: 1px solid $primary-color;
      border-bottom: 2px solid $primary-color;
      line-height: 12px;
      bottom: 0;
      right: 0;
    }
  }
}

.product-item {
  margin-bottom: 30px;
  clear: both;
  overflow: hidden;
  position: relative;

  article {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 60%;
      height: 3px;
      background: $primary-color;
      position: absolute;
      right: 0;
      top: 30px;
    }

    header {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 40px;

      h2 {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .image {
      width: 55%;
      padding-right: 15px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .form-item {
    width: 70px;
    float: left;
    clear: both;
    overflow: hidden;
    border: 2px solid $primary-color;
    position: absolute;
    bottom: 0;
    left: 55%;

    input {
      margin: 0;
      padding: 0 7px;
      text-align: right;
      box-shadow: none;
      height: 28px;
      width: 45px;
      float: left;
      border: none;
      font-weight: $global-weight-bold;
      color: #000;

      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        appearance: none;
      }
    }

    .qty-button {
      display: block;
      float: right;
      width: 21px;
      height: 14px;
      background: #fff;
      cursor: pointer;
      color: $primary-color;
      text-align: center;
      border-left: 2px solid $primary-color;

      &.inc {
        border-bottom: 1px solid $primary-color;
        line-height: 13px;
      }

      &.dec {
        border-top: 1px solid $primary-color;
        line-height: 12px;
      }
    }

    label {
      display: none;
    }
  }
}

fieldset[id^="edit-customer-information"] {
  padding: 25px;
  // overflow: scroll;
  & > .fieldset-wrapper {
    position: relative;
    display: block !important;
    width: 100%;
    max-width: 850px;
    border: 2px solid $primary-color;
    margin: 0 auto;
    padding: 70px 25px;
    height: 70%;
    overflow: scroll;
    top: 20%;

    textarea,
    input[type="text"],
    input[type="email"] {
      box-shadow: none;
      border: none;
      border-bottom: 2px solid $primary-color;
      font-weight: 600;
      font-family: "Montserrat", Helvetica, Roboto, Arial, sans-serif;
      letter-spacing: 3px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #000;
        text-transform: uppercase;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #000;
        text-transform: uppercase;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #000;
        text-transform: uppercase;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #000;
        text-transform: uppercase;
      }
    }

    textarea {
      border: 2px solid $primary-color;
    }

    label {
      display: none;
    }

    .form-item {
      margin-bottom: 10px;
    }

    .form-item-street {
      width: 80%;
      float: left;
      padding-right: 10px;
      clear: left;
    }

    .form-item-nr {
      width: 20%;
      float: left;
      padding-left: 10px;
      clear: right;
    }

    .form-actions {
      margin-top: 40px;
      text-align: center;
    }
  }
}

fieldset[id^="edit-delivery-"] {
  padding-left: 0.5rem;

  & > legend {
    display: block;
    margin-bottom: 20px;
    padding-top: 10px;

    & > span {
      display: block;
      font-weight: 600;
      font-family: $header-font-family;
    }
  }

  label {
    display: inline-block !important;
    font-weight: 600;
    font-family: $header-font-family;
  }
}

.section-verkoop {
  .parent-term-9 {
    display: none;
  }
}

.section-verhuur {
  .parent-term-10 {
    display: none;
  }
}

@media screen and (min-width: 520px) {
  fieldset[id^="edit-customer-information"] {
    & > .fieldset-wrapper {
      .form-item-postalcode, .form-item-first-name, .form-item-vat, .form-item-email {
        width: 50%;
        float: left;
        padding-right: 10px;
        clear: left;
      }

      .form-item-city, .form-item-last-name, .form-item-company, .form-item-date {
        width: 50%;
        padding-left: 10px;
        float: left;
        clear: right;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .order-item-form {
    & > fieldset:not(:first-of-type) {
      margin-bottom: 55px;

      & > legend {
        margin-bottom: 35px;
      }

      .fieldset-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .product-item {
          width: 50%;

          &:nth-of-type(odd) {
            padding-right: 15px;
          }

          &:nth-of-type(even) {
            padding-left: 15px;
          }
        }
      }

      & > .fieldset-wrapper {
        & > fieldset {
          margin-bottom: 55px;
          z-index: 90;

          & > legend {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .product-item {
    article {
      header {
        padding-top: 60px;

        h2 {
          font-size: 18px;
        }
      }
    }

    .form-item {
      left: calc(55% + 8px);
    }

    &:nth-of-type(odd) {
      .form-item {
        left: calc(55% - 7px);
      }
    }
  }
  fieldset[id^="edit-customer-information"] {
    & > .fieldset-wrapper {
      padding: 50px 50px;
    }
  }
}

@include breakpoint(large) {

  fieldset[id^="edit-totals"] {
    margin-bottom: 70px;
  }
}

a.anchor_totals::before {
  display: block;
  content: " ";
  //margin-top: -70px;
  height: 25vh;
  visibility: hidden;
}

fieldset[id^="edit-customer-information"] > .fieldset-wrapper input[id^="edit-close"] {
  z-index: 200;
}

.field-node--field-button{margin:0 auto;padding-top:10px;padding-bottom:10px}.field-node--field-button .field-label{text-transform:lowercase;margin-bottom:5px;font-size:14px}@media print, screen and (min-width: 62em){.field-node--field-button .field-label{text-align:right;width:106%}}.field-node--field-button .field-items .field-item .paragraph--type--newsletter .field-paragraph--field-button .field-items{margin:0 auto}@media print, screen and (min-width: 62em){.field-node--field-button .field-items .field-item .paragraph--type--newsletter .field-paragraph--field-button .field-items{width:103%}}.field-node--field-button .field-items .field-item .paragraph--type--newsletter .field-paragraph--field-button .field-items .field-item a{color:black !important;border-color:#C8D423 !important;border:solid 2px;padding:4px 15px;text-align:center;transition:0.3s ease;text-transform:uppercase}.field-node--field-button .field-items .field-item .paragraph--type--newsletter .field-paragraph--field-button .field-items .field-item a:hover{background-color:#C8D423 !important;color:white !important}.anchor_totals{display:none!important;}fieldset{scroll-margin-top: 250px;}#main{padding: 0rem 0 0rem!important;}