.items {
  &>.field-name-field-items {
    display: flex;
    flex-wrap: wrap;
  }

  &.items-rows {
    &>.field-name-field-items {

      .item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        @include breakpoint(xmedium) {
          margin-bottom: 0;
        }
        &>div, &>figure {
          @include grid-col;
          @include breakpoint(xmedium) {
            @include grid-col(1 of 2);
          }
        }
      }
      &>article {
        &:nth-of-type(even){
          flex-direction: row-reverse;
        }
      }
    }
  }
  &.items-columns {
    &>.field-name-field-items {
      flex-direction: row;
      .item {
      @include grid-col;
      @include breakpoint(xmedium) {
        @include grid-col(1 of 2);
        }
      }
    }
  }
}