.field-name-field-paragraphs {
  display: flex;
  flex-wrap: wrap;
}

.col-divide-1 {
  @include grid-col(1 of 1);
}
.col-divide-2 {
  @include grid-col(1 of 2);
}
.col-divide-3 {
  @include grid-col(1 of 3);
}
.field-node--field-button{
margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;
  .field-label{
    text-transform: lowercase;
    margin-bottom: 5px;
    font-size: 14px;


    @include breakpoint(large){
      text-align: right;
      width: 106%
    }
  }
  .field-items{
    .field-item{
      .paragraph--type--newsletter{
        .field-paragraph--field-button{
          .field-items{
   margin: 0 auto;

   @include breakpoint(large) {
     width: 103%
   }

   .field-item {
     a {
       color: black !important;
       border-color: $primary-color !important;
       border: solid 2px;
       padding: 4px 15px;
       text-align: center;
       transition: 0.3s ease;
       text-transform: uppercase;


     }

     a:hover {
       background-color: $primary-color !important;
       color: white !important;
     }
   }
          }
        }
      }
    }

    
  }
}