{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
<svg clip-rule="evenodd" fill-rule="evenodd" height="114" stroke-linejoin="round" stroke-miterlimit="1.414" viewBox="0 0 204 112" width="208" xmlns="http://www.w3.org/2000/svg">
<path class="titelgreen" d="M10.942 81.152v3.092H3.627v3.409h6.954v3.093H3.627v6.187H.105V81.152h10.837zM34.354 81.152v3.138h-7.856v3.251h7.066v3.002h-7.066v3.275h8.104v3.115H22.975V81.152h11.379zM58.172 81.152v3.138h-7.856v3.251h7.066v3.002h-7.066v3.275h8.104v3.115H46.793V81.152h11.379zM74.303 84.301c-.339.278-.508.647-.508 1.106 0 .459.207.825.622 1.095.413.272 1.369.591 2.867.96 1.497.369 2.66.922 3.488 1.659.827.738 1.241 1.814 1.241 3.229s-.53 2.562-1.592 3.443c-1.06.88-2.457 1.32-4.187 1.32-2.499 0-4.749-.925-6.751-2.777l2.1-2.573c1.701 1.49 3.274 2.235 4.718 2.235.648 0 1.156-.139 1.525-.418.368-.278.552-.655.552-1.129s-.195-.85-.586-1.129c-.392-.278-1.167-.56-2.326-.846-1.837-.437-3.179-1.005-4.03-1.704-.851-.701-1.275-1.799-1.275-3.297 0-1.497.538-2.653 1.614-3.465 1.076-.814 2.419-1.22 4.03-1.22 1.053 0 2.107.181 3.16.542 1.054.362 1.972.873 2.755 1.535l-1.784 2.575c-1.369-1.04-2.784-1.559-4.244-1.559-.587 0-1.05.14-1.389.418zM100.617 84.199v12.734h-3.522V84.199h-4.47v-3.047h12.463v3.047h-4.471zM125 88.772c.421-.475.632-1.167.632-2.078 0-.911-.275-1.558-.824-1.942-.55-.384-1.404-.575-2.563-.575h-2.009v5.306h2.37c1.174 0 1.972-.238 2.394-.711zm2.584-6.209c1.106.94 1.66 2.385 1.66 4.335 0 1.949-.569 3.375-1.704 4.278-1.137.902-2.871 1.354-5.204 1.354h-2.1v4.403h-3.522V81.152h5.577c2.423 0 4.188.47 5.293 1.411zM141.051 96.933V81.152h3.523v12.643h6.727v3.138h-10.25zM169.407 85.848l-1.987 4.583h3.952l-1.965-4.583zm4.763 11.085l-1.466-3.409h-6.616l-1.467 3.409h-3.748l6.818-15.781h3.409l6.818 15.781h-3.748zM199.84 81.152h3.523v15.781h-3.523l-7.517-9.889v9.889H188.8V81.152h3.297l7.743 10.159V81.152z" fill-rule="nonzero" fill="#FFFFFF"/>

  <path d="M4.136 106.044v.934H.994v1.559h2.822v.885H.994v1.575h3.243v.935H0v-5.888h4.136zM11.575 111.932h-1.113l-2.367-5.888h1.113l1.81 4.397 1.812-4.397h1.112l-2.367 5.888zM22.299 106.044v.934h-3.142v1.559h2.822v.885h-2.822v1.575H22.4v.935h-4.237v-5.888h4.136zM31.464 106.044h.995v5.888H31.38l-3.336-4.297v4.297h-.994v-5.888h.994l3.42 4.397v-4.397zM39.696 106.954v4.978h-.994v-4.978h-1.786v-.91h4.566v.91h-1.786zM47.719 106.819c-.289 0-.526.059-.712.177-.184.117-.277.296-.277.535 0 .238.093.421.277.547.186.127.58.263 1.184.409.604.146 1.059.351 1.365.614.306.265.459.654.459 1.167 0 .514-.193.931-.581 1.251-.388.321-.895.481-1.525.481-.921 0-1.739-.318-2.451-.952l.623-.75c.595.517 1.213.775 1.853.775.32 0 .574-.068.763-.206a.647.647 0 0 0 .282-.548.616.616 0 0 0-.266-.531c-.176-.126-.481-.241-.914-.345a8.073 8.073 0 0 1-.985-.287 2.222 2.222 0 0 1-.599-.341c-.347-.264-.521-.668-.521-1.213s.197-.965.594-1.26c.395-.294.885-.442 1.469-.442.376 0 .75.063 1.121.186.371.124.691.297.96.522l-.53.75a2.017 2.017 0 0 0-.708-.388 2.734 2.734 0 0 0-.881-.151zM54.414 108.975h2.796v.885h-2.796zM64.7 111.031c.342 0 .636-.058.885-.173.247-.115.504-.299.774-.552l.641.658c-.624.69-1.381 1.036-2.271 1.036-.891 0-1.629-.286-2.216-.86-.587-.573-.88-1.297-.88-2.174 0-.875.299-1.605.897-2.19.598-.584 1.353-.876 2.266-.876s1.675.337 2.288 1.011l-.632.691c-.282-.269-.546-.458-.796-.564a2.228 2.228 0 0 0-.881-.16c-.595 0-1.095.192-1.499.577-.404.385-.607.876-.607 1.474s.201 1.098.602 1.499c.402.402.878.603 1.429.603zM74.969 109.675l-1.069-2.426-1.07 2.426h2.139zm-2.544.917l-.59 1.34h-1.061l2.595-5.888h1.061l2.595 5.888h-1.062l-.589-1.34h-2.949zM82.981 106.954v4.978h-.994v-4.978h-1.786v-.91h4.566v.91h-1.786zM93.36 106.044v.934h-3.143v1.559h2.823v.885h-2.823v1.575h3.243v.935h-4.237v-5.888h4.137zM101.49 108.79c.202-.174.304-.453.304-.838 0-.385-.105-.649-.312-.792-.208-.144-.579-.215-1.112-.215h-1.264v2.106h1.239c.561 0 .943-.086 1.145-.261zm1.323-.834c0 .971-.424 1.584-1.272 1.837l1.542 2.139h-1.264l-1.407-1.979h-1.306v1.979h-.994v-5.888h2.191c.898 0 1.541.151 1.928.455.388.302.582.789.582 1.457zM107.623 106.044h.994v5.888h-.994zM118.044 106.044h.994v5.888h-1.078l-3.336-4.297v4.297h-.994v-5.888h.994l3.42 4.397v-4.397zM128.127 109.068h.994v2.014c-.556.612-1.35.918-2.383.918-.871 0-1.599-.286-2.186-.86-.587-.573-.88-1.297-.88-2.174 0-.875.299-1.605.896-2.19a2.995 2.995 0 0 1 2.17-.876c.847 0 1.553.247 2.114.741l-.53.759a2.093 2.093 0 0 0-.696-.409 2.652 2.652 0 0 0-.813-.113c-.594 0-1.094.192-1.499.577-.404.385-.606.889-.606 1.516 0 .626.196 1.129.59 1.508.392.379.868.569 1.428.569.558 0 1.025-.121 1.401-.363v-1.617zM133.595 108.975h2.797v.885h-2.797zM143.663 111.932h-1.113l-2.367-5.888h1.112l1.811 4.397 1.811-4.397h1.113l-2.367 5.888zM154.388 106.044v.934h-3.142v1.559h2.822v.885h-2.822v1.575h3.243v.935h-4.238v-5.888h4.137zM162.517 108.79c.202-.174.304-.453.304-.838 0-.385-.105-.649-.312-.792-.208-.144-.579-.215-1.112-.215h-1.264v2.106h1.239c.561 0 .943-.086 1.145-.261zm1.323-.834c0 .971-.424 1.584-1.272 1.837l1.542 2.139h-1.264l-1.407-1.979h-1.306v1.979h-.994v-5.888h2.191c.898 0 1.541.151 1.928.455.388.302.582.789.582 1.457zM168.65 111.932v-5.888h.994v2.552h2.923v-2.552h.994v5.888h-.994v-2.409h-2.923v2.409h-.994zM179.897 110.585c.27.314.635.471 1.096.471.46 0 .825-.157 1.094-.471.27-.315.405-.742.405-1.282v-3.259h.994v3.302c0 .848-.234 1.501-.699 1.958-.466.458-1.065.687-1.794.687-.731 0-1.329-.229-1.795-.687-.466-.457-.699-1.11-.699-1.958v-3.302h.994v3.259c0 .54.134.967.404 1.282zM189.745 110.585c.269.314.634.471 1.095.471.46 0 .826-.157 1.095-.471.27-.315.404-.742.404-1.282v-3.259h.994v3.302c0 .848-.233 1.501-.699 1.958-.466.458-1.064.687-1.794.687s-1.329-.229-1.795-.687c-.465-.457-.699-1.11-.699-1.958v-3.302h.994v3.259c0 .54.135.967.405 1.282zM201.649 108.79c.202-.174.304-.453.304-.838 0-.385-.105-.649-.312-.792-.208-.144-.579-.215-1.112-.215h-1.264v2.106h1.238c.562 0 .944-.086 1.146-.261zm1.323-.834c0 .971-.425 1.584-1.272 1.837l1.542 2.139h-1.264l-1.407-1.979h-1.306v1.979h-.994v-5.888h2.19c.899 0 1.541.151 1.929.455.388.302.582.789.582 1.457z" fill-rule="nonzero" fill="#c8d423"/>
  <path d="M97.774 31.263V14.949h5.815c3.699 0 6.447.563 8.199 1.661a9.18 9.18 0 0 0-4.09.737c-2.818 1.22-6.349 4.424-7.169 12.763-.035.36-.078.75-.124 1.153h-2.631zm14.721-2.085c-1.212 1.364-3.837 2.085-7.59 2.085h-1.487c.032-.289.068-.567.097-.861.536-5.45 2.395-9.012 5.375-10.302 2.102-.913 4.185-.447 5.297.166.148.701.231 1.475.231 2.346 0 2.922-.647 5.131-1.923 6.566zM123.999 6.43c-4.29-3.646-11.101-5.494-20.244-5.494H81.952v60.626l1.666-.185c4.83-.537 12.355-3.537 16.791-16.017h4.142v-3h-3.188c.674-2.392 1.241-5.083 1.679-8.097h1.863c4.767 0 7.983-1.011 9.832-3.091 1.779-2.001 2.681-4.881 2.681-8.56 0-3.818-1.225-6.609-3.641-8.296-2.279-1.592-5.611-2.367-10.188-2.367h-8.815v22.314h5.222c-.39 2.458-.974 5.273-1.843 8.097h-3.52v3h2.478c-2.306 5.921-6.056 11.304-12.159 12.748V3.936h18.803c8.412 0 14.569 1.608 18.3 4.779 3.659 3.112 5.514 8.037 5.514 14.638 0 6.583-1.897 11.427-5.638 14.4-3.083 2.45-7.604 3.94-13.436 4.426l.25 2.99c6.433-.538 11.497-2.242 15.052-5.066 4.494-3.572 6.772-9.206 6.772-16.75 0-7.521-2.211-13.214-6.57-16.923z" fill="url(#_Linear1)"/>
  <defs>
    <linearGradient gradientTransform="rotate(90 52.382 53.88) scale(67.897)" gradientUnits="userSpaceOnUse" id="_Linear1" x2="1">
      <stop offset="0" stop-color="#c8d300"/>
      <stop offset="1" stop-color="#8abc21"/>
    </linearGradient>
  </defs>
</svg>
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
