fieldset[id^="edit-customer-information"]{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:9;
    opacity:0;
    visibility: hidden;
    transition: all 0.3s;
}
fieldset[id^="edit-customer-information"].open {
    opacity:1;
    visibility: visible;
    transition: all 0.3s;
}
fieldset[id^="edit-customer-information"]:after{
    content: '';
    display: block;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: #000;
    opacity:0.7;
}
fieldset[id^="edit-customer-information"] > .fieldset-wrapper{
    position: absolute;
    z-index:9;
    background: #fff;
}
fieldset[id^="edit-customer-information"] > .fieldset-wrapper input[id^="edit-close"]{
    display: block;
    position: absolute;
    font-size: 0;
    color: transparent;
    border:none;
    padding:0;
    top:20px;
    right:20px;
    width:16px;
    height:16px;
    background: url('assets/close.svg')no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
fieldset[id^="edit-customer-information"] > .fieldset-wrapper > legend{
    display: none;
}
@media screen and (min-width: 814px){
    /*fieldset[id^="edit-customer-information"] > .fieldset-wrapper{
        max-width:600px;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;
    }*/
}