{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass(node.bundle, view_mode) }}

        {% if node.field_image.entity.uri.value %}
            style="background-image: url('{{ node.field_image.0.entity.uri.value | image_style('full_background') }}');"
        {% else %}
            style="background-image: url('{{ default_image | image_style('full_background') }}');"
        {% endif %}>
<div class="header-contact">
<ul class="header-info">
<li><a href="mailto:info@feestplan.be" class="header-email">info@feestplan.be</a></li>
<li><a href="tel:+3250623111" class="header-phone">+32 50 62 31 11</a></li>
<li><a href="https://wa.me/3250623111" class="header-whatsapp"><img src="themes/base/images/icons/whatsapp.svg"></a></li>
</ul>
</div>
  <div class="page-header-item">
    {% if content.field_page_title[0] %}
      <h1 class="animate page-title">{{ content.field_page_title[0] }}</h1>
    {% else %}
      <h1 class="animate page-title">{{ label[0] }}</h1>
    {% endif %}

    {% if content.field_intro[0] %}
      <div class="animate intro"><p>{{ content.field_intro[0] }}</p></div>
    {% endif %}
  </div>

    {% if node.bundle == 'home_page' %}
<div class="field-node--field-page-header-menu">
<div class="field-items">
<div class="organization field-item" {% if content.field_orgimg[0] %} style="background-image: url('{{ node.field_orgimg.entity.uri.value | image_style('page_header_menu') }}');" {% endif %}>{{content.field_page_header_menu[0]}}</div>
<div class="sell field-item" {% if content.field_verimg[0] %} style="background-image: url('{{ node.field_verimg.entity.uri.value | image_style('page_header_menu') }}');" {% endif %}>{{content.field_page_header_menu[1]}}</div>
<div class="catering field-item" {% if content.field_catimg[0] %} style="background-image: url('{{ node.field_catimg.entity.uri.value | image_style('page_header_menu') }}');" {% endif %}>{{content.field_page_header_menu[2]}}</div>
</div>
<div class="button-wrapper">
    <button class="button" id="scroll-down">{{'↓'}}</button>
</div>
</div>
      
    {% endif %}

</div>
